
.Login {
  width: 100vw; /* 100% viewport width */
  height: 100vh; /* 100% viewport height */
}

.message-meta {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically */
}

.chat-footer {
  height: 40px;
  border: 2px solid #000; /* Add a 1px solid black border */
  border-radius: 5px; /* Optionally, add border-radius for rounded corners */
  padding: 5px; /* Optionally, add padding for spacing */
}

.chat-window {
  width: 65vw; /* 100% viewport width */
  height: 70vh; /* 70% viewport height */
}

.message-content{
  border: 0.5px solid;
  border-color: black;
  border-radius: 10px;
  margin: 5px;
  padding: 4px;
  display: inline-block;
}

/* Define styles for the suggestion buttons container */
.suggestion-buttons-container {
  width:85%; /* Set the width to 100% */
  margin-top: 10px; /* Add some margin for spacing */
}

/* Define styles for the suggestion buttons */
.Button-suggest-1,
.Button-suggest-2,
.Button-suggest-3 {
  display: block; /* Set the display to block to stack the buttons vertically */
  width: 100%; /* Set the width to 100% to fill the container width */
  margin-top: 15px; /* Add some margin between buttons */
}



