#root {
  max-width: 100mw;
  margin: 0 auto;
  padding: 0; /* Remove padding */
  text-align: center;
}

.user-message {
  background-color: #4CAF50; /* Green background color for user messages */
  color: black; /* Text color */
  border-radius: 15px; /* Border radius */
  padding: 5px; /* Padding */
  max-width: 70%; /* Maximum width of the message bubble */
  margin-bottom: 5px; /* Bottom margin */
}

.bot-message {
  background-color: #2196F3; /* Blue background color for messages from others */
  color: black; /* Text color */
  border-radius: 15px; /* Border radius */
  padding: 5px; /* Padding */
  max-width: 70%; /* Maximum width of the message bubble */
  margin-bottom: 5px; /* Bottom margin */
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Chat Header Styles */
.chat-header {
  padding: 10px; /* Padding */
  text-align: center; /* Center align text */
  font-size: 20px; /* Font size */

  width: 100%;
}

.chat-title {
  font-weight: bold; /* Bold font weight */
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

